.subheading {
  margin-bottom: 20px;

  .subheading-title {
    background: rgba(235, 20, 54, 0.9);
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
  }

  &::after {
    background-color: rgba(235, 20, 54, 0.9);
    content: '';
    display: block;
    height: 1px;
    width: 100%;
  }
}

._loading_overlay_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  
  ._loading_overlay_overlay {
    background-color: #000;
  }
}